{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class='row'>
    <div class='col-sm-7'>
<h2>Exercise Tracker</h2>
<img src={% static 'Screeslope.jpg' %} width='75%' height='75%'alt="hiking"/>
    </div>
    <div class='col-sm-5'>
        
            <h2>Record counts</h2>
           <table class="table">
               <thead>
                   <tr>
                   <th>Record Type</th>
                   <th>Count</th>
                   <tr>
               </thead>
               <tbody>
                   <tr>
                       <td><a href="{% url 'goals' %}">Goals</a></td>
                       <td>{{ goals }}</td>
                   </tr>
                   <tr>
                    <td><a href="{% url 'exercises' %}">Exercises</a></td>
                    <td>{{ exercises }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'getweights' %}">Weights</a></td>
                    <td>{{ weights }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'etotals' %}" >Daily Exercise totals</a></td>
                    <td>{{ daily }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'calories' %}">Daily Calories</a></td>
                    <td>{{ calory }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'recentries' %}">Journal entries</a></td>
                    <td>{{ entries }}</td>
                </tr>

               </tbody>
            
              </table>
    </div>
    
</div>

<div class='row'>
    <div class='col-sm-7'>
        <p>&nbsp;</p>
        <p>Crossing the Cascade Crest on the way to Steheken 2017.</p>
    </div>
  
       
    </div>
</div>

{% endblock %}