
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exercise Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/site.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">tracker</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index'%}">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Exercises
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'addexercise' %}">add Daily Exercise</a></li>
                <li><a href="{% url 'newexercise' %}">New Exercise</a></li>
                <li><a href="{% url 'etotals' %}">Recent exercises</a></li>
                <li><a href="{% url 'stepstomiles' %}">Steps to Miles</a></li>
                
              </ul>
            </li>
            
           <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Weights
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'getweights' %}">Get Weights</a></li>
                  <li><a href="{% url 'addweight' %}">add Weight</a></li>
                 
                </ul>
 
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Goals
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'newgoal' %}">Add Goal</a></li>
                  <li><a href="{% url 'goals' %}">View Goals</a></li>
                 
                </ul>
 
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Calories
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'addcalories' %}">Add Calories</a></li>
                  <li><a href="{% url 'calories' %}">view calory totals</a></li>
                 
                </ul>
 
              </li>
              
            
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
      </nav>
      <!--
<div class ="jumbotron" style="text-align: center; background-image: url('images/Desk.png')">
    <h1>spconger.com</h1>
    <p>Poetry and publications</p>
</div>-->

<div class="container">
    {% block content %}
    {% endblock content %}
</div>
<!--footer
<div class="footer">

<p>All materials copyrighted (C) 2021 by Steven Conger<br/>
&nbsp;</p>
</div>-->
</body>
</html>